# Answering Business Questions Using SQL

The first thing I'll do is look through the database to see what tables are in it. From there, I'll inspect some of the tables to see how I can use them.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

In [2]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table", "view");

 * sqlite:///chinook.db
Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table'),
 ('invoice_tracks', 'view'),
 ('album_tracks', 'view')]

In [3]:
%%sql
SELECT *
FROM album
LIMIT 5;

 * sqlite:///chinook.db
Done.

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3)]

In [4]:
%%sql
SELECT *
FROM artist
LIMIT 5;

 * sqlite:///chinook.db
Done.

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains')]

In [5]:
%%sql
SELECT *
FROM customer
LIMIT 5;

 * sqlite:///chinook.db
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)]

In [6]:
%%sql
SELECT *
FROM invoice
LIMIT 5;

 * sqlite:///chinook.db
Done.

[(1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9),
 (3, 40, '2017-01-05 00:00:00', '8, Rue Hanovre', 'Paris', 'None', 'France', '75002', 1.98),
 (4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83)]

# Finding Most Popular Genres in USA

The first thing we'll need to do is find out what the most popular genres are by both total track count and by percentage. From there, we'll work backward to only include tracks from customers from the US. In order to find the percentage, we'll need to know the total amount of tracks as well.

In [7]:
%%sql
SELECT COUNT(track_id)
FROM track;

 * sqlite:///chinook.db
Done.

[(3503,)]

There are 3503 tracks in this table.

In [8]:
%%sql
SELECT
    g.name genre,
    COUNT(t.track_id) track_count,
    COUNT(t.track_id)/3503. track_pct
FROM genre g
INNER JOIN track t ON t.genre_id = g.genre_id
GROUP BY 1

 * sqlite:///chinook.db
Done.

[('Alternative', 40, 0.011418783899514702),
 ('Alternative & Punk', 332, 0.09477590636597202),
 ('Blues', 81, 0.02312303739651727),
 ('Bossa Nova', 15, 0.004282043962318013),
 ('Classical', 74, 0.0211247502141022),
 ('Comedy', 17, 0.004852983157293748),
 ('Drama', 64, 0.018270054239223524),
 ('Easy Listening', 24, 0.006851270339708821),
 ('Electronica/Dance', 30, 0.008564087924636025),
 ('Heavy Metal', 28, 0.00799314872966029),
 ('Hip Hop/Rap', 35, 0.009991435912075365),
 ('Jazz', 130, 0.03711104767342278),
 ('Latin', 579, 0.1652868969454753),
 ('Metal', 374, 0.10676562946046246),
 ('Opera', 1, 0.00028546959748786756),
 ('Pop', 48, 0.013702540679417643),
 ('R&B/Soul', 61, 0.01741364544675992),
 ('Reggae', 58, 0.016557236654296318),
 ('Rock', 1297, 0.3702540679417642),
 ('Rock And Roll', 12, 0.0034256351698544107),
 ('Sci Fi & Fantasy', 26, 0.007422209534684556),
 ('Science Fiction', 13, 0.003711104767342278),
 ('Soundtrack', 43, 0.012275192691978304),
 ('TV Shows', 93, 0.02654867256637168),
 ('World', 28, 0.00799314872966029)]

Okay, now we've got the exact chart we need, but this is for customers all over the world. Now we need to find a way to only count US customers.

In [9]:
%%sql
SELECT *
FROM customer
WHERE country = "USA"
LIMIT 10;

 * sqlite:///chinook.db
Done.

[(16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', '+1 (650) 253-0000', '+1 (650) 253-0000', 'fharris@google.com', 4),
 (17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com', 5),
 (18, 'Michelle', 'Brooks', None, '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', '+1 (212) 221-3546', '+1 (212) 221-4679', 'michelleb@aol.com', 3),
 (19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', '+1 (408) 996-1010', '+1 (408) 996-1011', 'tgoyer@apple.com', 3),
 (20, 'Dan', 'Miller', None, '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', None, 'dmiller@comcast.com', 4),
 (21, 'Kathy', 'Chase', None, '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', '+1 (775) 223-7665', None, 'kachase@hotmail.com', 5),
 (22, 'Heather', 'Leacock', None, '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', None, 'hleacock@gmail.com', 4),
 (23, 'John', 'Gordon', None, '69 Salem Street', 'Boston', 'MA', 'USA', '2113', '+1 (617) 522-1333', None, 'johngordon22@yahoo.com', 4),
 (24, 'Frank', 'Ralston', None, '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', '+1 (312) 332-3232', None, 'fralston@gmail.com', 3),
 (25, 'Victor', 'Stevens', None, '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', '+1 (608) 257-0597', None, 'vstevens@yahoo.com', 5)]

Now that we've got a way of pulling just US customers, we'll use a chain of joins to make sure we count only US customers.

In [10]:
%%sql
WITH
us_customers AS (
                SELECT *
                FROM customer
                WHERE country = "USA"
                ),
us_invoices AS (
                SELECT *
                FROM invoice i
                INNER JOIN us_customers us ON i.customer_id = us.customer_id
                ),
us_invoice_line AS 
                (
                SELECT *
                FROM invoice_line il
                INNER JOIN us_invoices ui ON il.invoice_id = ui.invoice_id
                ),
us_track AS
                (
                SELECT *
                FROM track t
                INNER JOIN us_invoice_line uil ON t.track_id = uil.track_id
                )
SELECT COUNT(track_id) FROM us_track;

 * sqlite:///chinook.db
Done.

[(1051,)]

Importantly, we first needed to check how many tracks were purchased by US customers, which we will be able to use going forward.

In [11]:
%%sql
WITH
us_customers AS (
                SELECT *
                FROM customer
                WHERE country = "USA"
                ),
us_invoices AS (
                SELECT *
                FROM invoice i
                INNER JOIN us_customers us ON i.customer_id = us.customer_id
                ),
us_invoice_line AS 
                (
                SELECT *
                FROM invoice_line il
                INNER JOIN us_invoices ui ON il.invoice_id = ui.invoice_id
                ),
us_track AS
                (
                SELECT *
                FROM track t
                INNER JOIN us_invoice_line uil ON t.track_id = uil.track_id
                )
SELECT
    g.name genre,
    COUNT(ut.track_id) track_count,
    COUNT(ut.track_id)/1051. track_pct
FROM genre g
INNER JOIN us_track ut ON ut.genre_id = g.genre_id
GROUP BY 1
ORDER BY 3 DESC;

 * sqlite:///chinook.db
Done.

[('Rock', 561, 0.5337773549000951),
 ('Alternative & Punk', 130, 0.12369172216936251),
 ('Metal', 124, 0.11798287345385347),
 ('R&B/Soul', 53, 0.05042816365366318),
 ('Blues', 36, 0.03425309229305423),
 ('Alternative', 35, 0.03330161750713606),
 ('Pop', 22, 0.02093244529019981),
 ('Latin', 22, 0.02093244529019981),
 ('Hip Hop/Rap', 20, 0.019029495718363463),
 ('Jazz', 14, 0.013320647002854425),
 ('Easy Listening', 13, 0.012369172216936251),
 ('Reggae', 6, 0.005708848715509039),
 ('Electronica/Dance', 5, 0.004757373929590866),
 ('Classical', 4, 0.003805899143672693),
 ('Heavy Metal', 3, 0.0028544243577545195),
 ('Soundtrack', 2, 0.0019029495718363464),
 ('TV Shows', 1, 0.0009514747859181732)]

So, if our new label has hip-hop, punk, pop, and blues, but can only choose 3 genres to get behind, we recommend punk, blues, and pop from this data. It's also worth mentioning that from this data, not having a rock artist appears to be a missed opportunity.

In [12]:
%%sql
SELECT e.*, SUM(i.total)
FROM employee e
INNER JOIN customer c on e.employee_id = c.support_rep_id
INNER JOIN invoice i on c.customer_id = i.customer_id
GROUP BY e.employee_id;

 * sqlite:///chinook.db
Done.

[(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2017-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com', 1731.5100000000039),
 (4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2017-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com', 1584.0000000000034),
 (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2017-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com', 1393.920000000002)]

We can see that Jane Peacock has the most in sales, followed by Margaret Park, followed by Steve Johnson. However, it is worth noting, that is also the order of their hire dates, from oldest to newest. So it is possible this is not indicative of the quality of the employee, but how long they have been working there.

In [13]:
%%sql
    SELECT country, COUNT(customer_id) customer_count
    FROM customer
    GROUP BY country

 * sqlite:///chinook.db
Done.

[('Argentina', 1),
 ('Australia', 1),
 ('Austria', 1),
 ('Belgium', 1),
 ('Brazil', 5),
 ('Canada', 8),
 ('Chile', 1),
 ('Czech Republic', 2),
 ('Denmark', 1),
 ('Finland', 1),
 ('France', 5),
 ('Germany', 4),
 ('Hungary', 1),
 ('India', 2),
 ('Ireland', 1),
 ('Italy', 1),
 ('Netherlands', 1),
 ('Norway', 1),
 ('Poland', 1),
 ('Portugal', 2),
 ('Spain', 1),
 ('Sweden', 1),
 ('USA', 13),
 ('United Kingdom', 3)]

First thing I wanted to do was just to get customer counts for each country so I could get a sense of the data.

In [14]:
%%sql
WITH
customer_counts as (
    SELECT country, COUNT(customer_id) customer_count
    FROM customer
    GROUP BY country
    )
SELECT CASE
    WHEN customer_count > 1 THEN country
    ELSE "Other"
    END AS country_other,
    SUM(customer_count) customer_count_other
FROM customer_counts
GROUP BY country_other;

 * sqlite:///chinook.db
Done.

[('Brazil', 5),
 ('Canada', 8),
 ('Czech Republic', 2),
 ('France', 5),
 ('Germany', 4),
 ('India', 2),
 ('Other', 15),
 ('Portugal', 2),
 ('USA', 13),
 ('United Kingdom', 3)]

From there, I was able to make a new column that would either be the country's name or other, depending on whether they had more than one customer. I used this column to group by, so that all the others would count together.

In [15]:
%%sql
WITH
customer_counts as (
    SELECT country, COUNT(customer_id) customer_count
    FROM customer
    GROUP BY country
    ),
other_grouped as (
    SELECT 
        CASE
            WHEN customer_count > 1 THEN country
            ELSE "Other"
            END AS country_other,
        SUM(customer_count) customer_count
    FROM customer_counts
    GROUP BY country_other
    )
SELECT
    country_other,
    customer_count
FROM
    (
    SELECT *,
        CASE
            WHEN country_other = "Other" THEN 1
            ELSE 0
        END AS sort
    FROM other_grouped
    )
ORDER BY sort ASC;

 * sqlite:///chinook.db
Done.

[('Brazil', 5),
 ('Canada', 8),
 ('Czech Republic', 2),
 ('France', 5),
 ('Germany', 4),
 ('India', 2),
 ('Portugal', 2),
 ('USA', 13),
 ('United Kingdom', 3),
 ('Other', 15)]

In [16]:
%%sql
SELECT
        c.country,
        i.customer_id,
        COUNT(i.customer_id) order_count,
        SUM(i.total) total
    FROM customer c
    INNER JOIN invoice i ON c.customer_id = i.customer_id
    GROUP BY 2

 * sqlite:///chinook.db
Done.

[('Brazil', 1, 13, 108.89999999999998),
 ('Germany', 2, 11, 82.17),
 ('Canada', 3, 9, 99.99),
 ('Norway', 4, 9, 72.27000000000001),
 ('Czech Republic', 5, 18, 144.54000000000002),
 ('Czech Republic', 6, 12, 128.7),
 ('Austria', 7, 9, 69.3),
 ('Belgium', 8, 7, 60.38999999999999),
 ('Denmark', 9, 10, 37.61999999999999),
 ('Brazil', 10, 12, 60.39),
 ('Brazil', 11, 10, 69.3),
 ('Brazil', 12, 11, 82.17),
 ('Brazil', 13, 15, 106.91999999999999),
 ('Canada', 14, 10, 29.699999999999996),
 ('Canada', 15, 9, 66.33),
 ('USA', 16, 8, 74.25),
 ('USA', 17, 12, 98.01),
 ('USA', 18, 8, 79.2),
 ('USA', 19, 9, 54.449999999999996),
 ('USA', 20, 12, 95.03999999999999),
 ('USA', 21, 11, 91.08000000000001),
 ('USA', 22, 12, 92.07000000000001),
 ('USA', 23, 10, 66.33),
 ('USA', 24, 8, 71.28),
 ('USA', 25, 10, 76.23),
 ('USA', 26, 12, 86.13000000000002),
 ('USA', 27, 9, 84.14999999999999),
 ('USA', 28, 10, 72.27),
 ('Canada', 29, 4, 40.59),
 ('Canada', 30, 13, 91.08),
 ('Canada', 31, 11, 62.370000000000005),
 ('Canada', 32, 8, 70.28999999999999),
 ('Canada', 33, 12, 75.24000000000001),
 ('Portugal', 34, 13, 102.96000000000001),
 ('Portugal', 35, 16, 82.17),
 ('Germany', 36, 11, 85.14),
 ('Germany', 37, 10, 94.05000000000001),
 ('Germany', 38, 9, 73.25999999999999),
 ('France', 39, 9, 79.2),
 ('France', 40, 9, 72.27),
 ('France', 41, 9, 64.35),
 ('France', 42, 11, 99.99),
 ('France', 43, 12, 73.25999999999999),
 ('Finland', 44, 11, 79.2),
 ('Hungary', 45, 10, 78.21),
 ('Ireland', 46, 13, 114.83999999999997),
 ('Italy', 47, 9, 50.49),
 ('Netherlands', 48, 10, 65.34),
 ('Poland', 49, 10, 76.22999999999999),
 ('Spain', 50, 11, 98.01),
 ('Sweden', 51, 10, 75.24),
 ('United Kingdom', 52, 8, 68.31),
 ('United Kingdom', 53, 11, 98.01),
 ('United Kingdom', 54, 9, 79.2),
 ('Australia', 55, 10, 81.18),
 ('Argentina', 56, 5, 39.6),
 ('Chile', 57, 13, 97.02000000000001),
 ('India', 58, 13, 111.86999999999999),
 ('India', 59, 8, 71.28)]

In [17]:
%%sql
WITH
customer_counts as (
    SELECT country, COUNT(customer_id) customer_count
    FROM customer
    GROUP BY country
    ),
country_list AS (
    SELECT 
        country
    FROM customer_counts
    WHERE customer_count>1
),
customer_invoice AS (
    SELECT
        CASE
            WHEN c.country IN country_list THEN c.country
            ELSE "Other"
            END AS country,
        i.customer_id,
        COUNT(i.customer_id) order_count,
        SUM(i.total) total
    FROM customer c
    INNER JOIN invoice i ON c.customer_id = i.customer_id
    GROUP BY 2
    ),
main as (
    SELECT 
        country, 
        COUNT(customer_id) customer_count,
        SUM(total) total_sales,
        SUM(total)/COUNT(customer_id) avg_customer_value,
        SUM(total)/SUM(order_count) avg_order_value
    FROM customer_invoice ci
    GROUP BY country
    )
SELECT
    country, 
    customer_count, 
    ROUND(total_sales, 2) total_sales, 
    ROUND(avg_customer_value, 2) avg_customer_value,
    ROUND(avg_order_value, 2) avg_order_value
FROM
    (
    SELECT *,
        CASE
            WHEN country = "Other" THEN 1
            ELSE 0
        END AS sort
    FROM main
    )
ORDER BY sort ASC;

 * sqlite:///chinook.db
Done.

[('Brazil', 5, 427.68, 85.54, 7.01),
 ('Canada', 8, 535.59, 66.95, 7.05),
 ('Czech Republic', 2, 273.24, 136.62, 9.11),
 ('France', 5, 389.07, 77.81, 7.78),
 ('Germany', 4, 334.62, 83.66, 8.16),
 ('India', 2, 183.15, 91.58, 8.72),
 ('Portugal', 2, 185.13, 92.57, 6.38),
 ('USA', 13, 1040.49, 80.04, 7.94),
 ('United Kingdom', 3, 245.52, 81.84, 8.77),
 ('Other', 15, 1094.94, 73.0, 7.45)]

We can glean all sorts of useful information from this. We can see that the US and "Other", ie smaller countries, are the countries with the most customers. But we can also see that the Czech Republic spends a lot per customer and per order. The UK and India also spend a lot per order.

# Album vs Individual Song Purchases

In [18]:
%%sql
SELECT * FROM invoice_line
LIMIT 50;

 * sqlite:///chinook.db
Done.

[(1, 1, 1158, 0.99, 1),
 (2, 1, 1159, 0.99, 1),
 (3, 1, 1160, 0.99, 1),
 (4, 1, 1161, 0.99, 1),
 (5, 1, 1162, 0.99, 1),
 (6, 1, 1163, 0.99, 1),
 (7, 1, 1164, 0.99, 1),
 (8, 1, 1165, 0.99, 1),
 (9, 1, 1166, 0.99, 1),
 (10, 1, 1167, 0.99, 1),
 (11, 1, 1168, 0.99, 1),
 (12, 1, 1169, 0.99, 1),
 (13, 1, 1170, 0.99, 1),
 (14, 1, 1171, 0.99, 1),
 (15, 1, 1172, 0.99, 1),
 (16, 1, 1173, 0.99, 1),
 (17, 2, 3476, 0.99, 1),
 (18, 2, 482, 0.99, 1),
 (19, 2, 2701, 0.99, 1),
 (20, 2, 1641, 0.99, 1),
 (21, 2, 1119, 0.99, 1),
 (22, 2, 2324, 0.99, 1),
 (23, 2, 201, 0.99, 1),
 (24, 2, 819, 0.99, 1),
 (25, 2, 392, 0.99, 1),
 (26, 2, 2651, 0.99, 1),
 (27, 3, 2516, 0.99, 1),
 (28, 3, 2646, 0.99, 1),
 (29, 4, 3448, 0.99, 1),
 (30, 4, 2560, 0.99, 1),
 (31, 4, 3336, 0.99, 1),
 (32, 4, 829, 0.99, 1),
 (33, 4, 1872, 0.99, 1),
 (34, 4, 748, 0.99, 1),
 (35, 4, 1778, 0.99, 1),
 (36, 4, 2514, 0.99, 1),
 (37, 5, 1986, 0.99, 1),
 (38, 5, 1987, 0.99, 1),
 (39, 5, 1988, 0.99, 1),
 (40, 5, 1989, 0.99, 1),
 (41, 5, 1990, 0.99, 1),
 (42, 5, 1991, 0.99, 1),
 (43, 5, 1992, 0.99, 1),
 (44, 5, 1993, 0.99, 1),
 (45, 5, 1994, 0.99, 1),
 (46, 5, 1995, 0.99, 1),
 (47, 5, 1996, 0.99, 1),
 (48, 5, 1997, 0.99, 1),
 (49, 5, 1998, 0.99, 1),
 (50, 5, 1999, 0.99, 1)]

I wanted to get a sense of what the invoice line data looks like.

I am going to use the Group_Concat command to basically concatinate all track_ids on a single invoice into one list. From there, I will check the list to see if it matches any albums.

In [23]:
%%sql
CREATE VIEW invoice_tracks AS
SELECT invoice_id, GROUP_CONCAT(track_id) tracks_purchased, COUNT(track_id) track_count
FROM invoice_line
GROUP BY 1

 * sqlite:///chinook.db
(sqlite3.OperationalError) table invoice_tracks already exists
[SQL: CREATE VIEW invoice_tracks AS
SELECT invoice_id, GROUP_CONCAT(track_id) tracks_purchased, COUNT(track_id) track_count
FROM invoice_line
GROUP BY 1]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

Since I anticipate using these tables a lot, I am going to create a view so that I can reference them easily, as opposed to using with statements over and over.

In [24]:
%%sql
SELECT * FROM invoice_tracks;

 * sqlite:///chinook.db
Done.

[(1, '1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173', 16),
 (2, '3476,482,2701,1641,1119,2324,201,819,392,2651', 10),
 (3, '2516,2646', 2),
 (4, '3448,2560,3336,829,1872,748,1778,2514', 8),
 (5, '1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002', 17),
 (6, '1045,30', 2),
 (7, '3477,3439,1102,711,1988,3024,834,2596,1343,2644,42', 11),
 (8, '2231,2509,81,1758,1455,2946,574,1752,2263,1560', 10),
 (9, '206,3456,1041,1279,2098,3399,1983,993,196', 9),
 (10, '2663,3290', 2),
 (11, '2597,2203,2420,2643,3072,1138,2391,2257,610,1419,3452', 11),
 (12, '1463,690,2663,92', 4),
 (13, '2553', 1),
 (14, '541', 1),
 (15, '3050,1489,807,3336', 4),
 (16, '2160,875,83,16,1756,3460,93,24,21', 9),
 (17, '2400,1610,1973,2553,59,2270,55,2564,2171,2522,1419', 11),
 (18, '1027,3142,1583,1752,2736', 5),
 (19, '105,2669,1784,3460,2640,1310,2510', 7),
 (20, '905,102,3336,1132,337,60,3357,3225,3297,3297', 10),
 (21, '1461,2556,1434,3135,1473,1502,13,2971,2561', 9),
 (22, '1000,383', 2),
 (23, '1,6,7,8,9,10,11,12,13,14', 10),
 (24, '1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157', 12),
 (25, '46,948,2185,3049,1167,32,1800,1477', 8),
 (26, '2670,85', 2),
 (27, '3439,3014,1280,1496,2229,1445,2230,3105', 8),
 (28, '36,3456,932', 3),
 (29, '1025,2462,3341,1626,2395,479', 6),
 (30, '919,3461,33,2341,1139,3109,2013,990,2413,2396,3464', 11),
 (31, '2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750', 20),
 (32, '38,39,40,41,42,43,44,45,46,47,48,49,50', 13),
 (33, '3307,2736,2542,2697', 4),
 (34, '610', 1),
 (35, '2377,80,836,6,3475', 5),
 (36, '1582,968,2233,153,1493,2656,1168', 7),
 (37, '3458,1428,3329,698,1014,3336,3297,1166,3392,1763', 10),
 (38, '2960,154,3272,2557,1566,1472,3409', 7),
 (39, '2308,1669,2415,3142,3366,184,2519,3424', 8),
 (40, '2382,2654,2556,108,553,2737,686,1626,3460,2237', 10),
 (41, '153,3457,2511,2698,2945,1947,3336,773', 8),
 (42, '2646,3074,711,13,1047,699,580,897,153', 9),
 (43, '918,2342,1162,1654,1768,2641,1997', 7),
 (44, '3052,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062,3063', 12),
 (45, '1890,1787,2731,2649,102,158,1976,1837', 8),
 (46, '2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649', 11),
 (47, '3396,2518,2095,449,478,8', 6),
 (48, '2210,427,1167,58', 4),
 (49, '2561,1877,146,1162,146', 5),
 (50, '1905,2155,3388,2455,1794,1511,3455', 7),
 (51, '2265,2171,692,3046,1184,126,475,34', 8),
 (52, '2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675', 12),
 (53, '1551,207,1846', 3),
 (54, '1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790', 18),
 (55, '1552,2672,2006,2453,548,349,2552,2675,155,481', 10),
 (56, '2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270', 17),
 (57, '2948', 1),
 (58, '1029,2644,2395,2669,2630,1745', 6),
 (59, '449,3491,1053,2640,2563,2731,1123,198,3336,1463,3390', 11),
 (60, '479,1875,544,1030,2416,1167,1826,46', 8),
 (61, '2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620', 12),
 (62, '2989,97,2680', 3),
 (63, '444,3470,3376,1994,6,8', 6),
 (64, '38,39,40,41,42,43,44,45,46,47,48,49,50', 13),
 (65, '1139,539', 2),
 (66, '1435,1761,3377,1785,442,1951,2334', 7),
 (67, '2401,2287,84,3099,3468,2413,2164,3478,787,9,861', 11),
 (68, '2575,1669,2265,61,751,3353,2008,1903,910,2236,1990', 11),
 (69, '85,86,87,88,89,90,91,92,93,94,95,96,97,98', 14),
 (70, '2307', 1),
 (71, '2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270', 17),
 (72, '30,2564,1658', 3),
 (73, '2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405', 15),
 (74, '1743,3081', 2),
 (75, '22,1488,1977,1233', 4),
 (76, '1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032', 13),
 (77, '15,17,18,19,20,22', 6),
 (78, '2592,1052,33,3336,1215,3370,2553,1126,3006', 9),
 (79, '1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915', 14),
 (80, '3400', 1),
 (81, '1314,839,545,2554,904,3079', 6),
 (82, '3291,1348,2417,2120,1332,2704,54', 7),
 (83, '1163,1996,2750,2998', 4),
 (84, '3455,3456,3457,3458,3459,3460,3461,3462,3463,3464,3465,3466', 12),
 (85, '2555,1298,2740,2561,1972', 5),
 (86, '2291', 1),
 (87, '1600,2226,1503,3292,2593,1129,3349,3439', 8),
 (88, '2679,2698,2386,1995,2597', 5),
 (89, '1784,1900', 2),
 (90, '2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564', 11),
 (91, '1209,130,94,2367,2599,1948,1488,2654,3424,481,1817', 11),
 (92, '1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433', 20),
 (93, '1490,778,1787,1121,2639,2261,20,3041,1798,1023', 10),
 (94, '50,1173,2657,1064,3359,1677,1351,2595', 8),
 (95, '3299,2550,1278,473,1001,110,54,27,681,3078,2339', 11),
 (96, '1129,2227,1000,3438,2189,453', 6),
 (97, '1784,3336,3104,16,2544,454', 6),
 (98, '1995,2624,690,419,1852,609,2426,1904,2645,2255', 10),
 (99, '2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608', 18),
 (100, '996,2560,2006,2648,1181,1493', 6),
 (101, '3356,83,2519,2269', 4),
 (102, '3472,1486,1372,33,1992,421,1469,1197,1218,2549', 10),
 (103, '2234,2007,2275,2419,1029,3336', 6),
 (104, '3097,1508', 2),
 (105, '751,3355,2385,2187,2748,1793,2381,1387', 8),
 (106, '2,1485,2186,1592,3476,2445,1814,488', 8),
 (107, '1179,2011,700,1984,1819,1799,24,3288,1,2419,1132', 11),
 (108, '102,58,158,1214,2737', 5),
 (109, '486,1055,1796,1195,2445,709,681,3293,425,340,2381', 11),
 (110, '444,2596,81,3378,3105,2234', 6),
 (111, '3484,2429,597,1139,48', 5),
 (112, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (113, '2762,2383,2662,2693,1657,577,1034,134,1473,3087', 10),
 (114, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (115, '298,2269,2610,1188,3370,2990,2684,1224,84', 9),
 (116, '571,2739,1568,2975,1887,3092,35,66,1180,21,2254', 11),
 (117, '4,3316,2558,2591,1880,831,1482,2174,3305,3365,614', 11),
 (118, '3111', 1),
 (119, '1556,2508', 2),
 (120, '17,1126,2749,2596,2738,2350', 6),
 (121, '2656,2549,1829,44,40,2674,3452,344,32', 9),
 (122, '2014,28,42,839,1195', 5),
 (123, '2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014', 12),
 (124, '3100,3323,2328,470,1017,1816', 6),
 (125, '45,1851,233,2396,459,2389,1823,151,198,3358', 10),
 (126, '2157,2380,42,2510', 4),
 (127, '3135,2,1127,3378,3465,2329,2564,3077,3367,1834,1492', 11),
 (128, '3283,3025,2686,2348,3026,2560,836', 7),
 (129, '2351,837,826,2555,1880,778,12,1017,1641,91,1580', 11),
 (130, '2660,1573,2519,2160', 4),
 (131, '1754,920,1655', 3),
 (132, '2234,2736', 2),
 (133, '3050,1617,37,1485,1785,1996,2686,1044,53,410', 10),
 (134, '3380,2162,439,204,1809,441,3495,226', 8),
 (135, '2959,2518,1221', 3),
 (136, '2241,1157,1559,1166', 4),
 (137, '3336,43', 2),
 (138, '2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281', 11),
 (139, '1814,2746,781,1138,2642', 5),
 (140, '1002,819,2551,1155,705,2150,468,1356', 8),
 (141, '2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638', 18),
 (142, '23,24,25,26,27,28,29,30,31,32,33,34,35,36,37', 15),
 (143, '915,600,479,933,2601', 5),
 (144, '2590,3291,158', 3),
 (145, '2378,2383,2519,1422,3255', 5),
 (146, '1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478', 13),
 (147, '56,3078,2361,1487,2544', 5),
 (148, '1637,1945,53,1493,24,1990,1145,2110,3455', 9),
 (149, '1026,841,28,1166,1969,163,2660,1296,1153', 9),
 (150, '1181,3395,1021', 3),
 (151, '3468,605,1796', 3),
 (152, '2731,2234,1030,1890,2556,1462', 6),
 (153, '2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419', 14),
 (154, '2684,3314,2649', 3),
 (155, '436,1122,1953,2325,594,1183,94,2365,1546', 9),
 (156, '1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892', 11),
 (157, '3336', 1),
 (158, '3108,3000,1050,1478,1136,1175', 6),
 (159, '2450,3139,2548,153,2383,3055', 6),
 (160, '1052,3461,3468,1004,1324,36,1879,470,2419', 9),
 (161, '1415,2598,55,1826,2583,1568,2111,3465', 8),
 (162, '2207,2517,2602,2641,1042,1951,2235,899,3301', 9),
 (163, '2556,2285,3102,2204,2012,1211,768,1009,2653', 9),
 (164, '3116,1490,913,3336', 4),
 (165, '76,59,2743,2230,2240,1163,2217,1143', 8),
 (166, '2662,3290,2013,3467,1686,1473,56,3115,3019,2644', 10),
 (167, '1614,1144,484,1522,1641,1951', 6),
 (168, '592,3467,2554,1823,58,3357', 6),
 (169, '2291,1039,18,1989,2651,2214,2810,2187,3460', 9),
 (170, '3373,2677,2216,2561,2650,1458,1044,2563,157,2268', 10),
 (171, '1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478', 13),
 (172, '1619,3061,2291,3040,2687,1185,1699,2799', 8),
 (173, '2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295', 11),
 (174, '3002,1994,2413,2693,422,920,452', 7),
 (175, '1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772', 18),
 (176, '3336,2279,2658,2642,1174,2383,1114', 7),
 (177, '1039,3277', 2),
 (178, '1102,1103,1104', 3),
 (179, '3104,2607,39,3014,165,898,1630,2596,2516,1118', 10),
 (180, '1802,1787,2823,3408,2229,2605,1856,1993,1997,1150', 10),
 (181, '1565,2507,2002,1500,1948,1470,1553', 7),
 (182, '937,86,1498,2548,2749,1907', 6),
 (183, '1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056', 24),
 (184, '3409', 1),
 (185, '1778,1108,1666,2696,1854,3088,1994,991,2558', 9),
 (186, '826,1482,3293', 3),
 (187, '1466,1550,2229,1037,2509,1126,2214', 7),
 (188, '1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465', 11),
 (189, '2191,3435,2617,2644', 4),
 (190, '2559,3336,3141,2646,833', 5),
 (191, '1483,24,2671,1484', 4),
 (192, '2645,2644,3463,1561,3461,130,1478,158,2639', 9),
 (193, '2548,2559', 2),
 (194, '1476', 1),
 (195, '2179,719,2563,923,2700,2747,51,2698,3336,908,2590', 11),
 (196, '1325,1326,1327,1328,1329,1330,1331,1332,1333,1334', 10),
 (197, '3289,2406,944,3267,2559,592,1425,1980,1488,2010,2664', 11),
 (198, '2159,3336,3356,1774,2235,2458,1189,2099,1121,2236,2256', 11),
 (199, '2008,2604,2389', 3),
 (200, '15,16,17,18,19,20,21,22', 8),
 (201, '3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299', 12),
 (202, '1747,2592', 2),
 (203, '20,1043,1629,572,2658,6,1656,195,23,22', 10),
 (204, '1027,1477,1125,35,2744,1285,2748,3458,2987,14,1995', 11),
 (205, '1829,1830,1831,1832,1833,1834,1835,1836,1837,1838', 10),
 (206, '2745,224,2795,1993,1134', 5),
 (207, '2201,470,3044,1123', 4),
 (208, '2690,2559,2013,151,834,172', 6),
 (209, '1495,2381,3280,2287', 4),
 (210, '3376,1095,1129,2640,2093,18,2678,1561,2594,788,2097', 11),
 (211, '39,2640,197,2416,2685,3291,47,2127,1553', 9),
 (212, '1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132', 12),
 (213, '2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281', 11),
 (214, '620,693,1838,80,1130', 5),
 (215, '1464,1019', 2),
 (216, '1547,2004,461,2600,3478', 5),
 (217, '2554,2555,2556,2557,2558,2559,2560,2561,2562,2564', 10),
 (218, '3336,894,2574,2756,2220,1164,2189,2677,2005', 9),
 (219, '3067,2278,897', 3),
 (220, '1745,1746,1747,1748,1749,1750,1751,1753,1754', 9),
 (221, '2561,1494,2663,19,1758,3284,2187,3291', 8),
 (222, '1029,2673', 2),
 (223, '2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638', 18),
 (224, '2433,2236,3073,2600,1897,100,2600,20,1421,1834', 10),
 (225, '1711,2662,60,32,1251,1025', 6),
 (226, '2150,1610,2237,1139,2275,2950,1185,3094,1132,1805,3463', 11),
 (227, '837,3286,2041,571,2604,2214,3336,2600,3378,468', 10),
 (228, '1212,1988,531,691', 4),
 (229, '2655,58,841', 3),
 (230, '15,16,17,18,19,20,21,22', 8),
 (231, '1204,1439,154', 3),
 (232, '3090,1424,2109,6', 4),
 (233, '9,61,3349,83,2115,2671', 6),
 (234, '2562', 1),
 (235, '3287,2326,2597,2234,1129,1992,2199', 7),
 (236, '164,2191,3294', 3),
 (237, '2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390', 16),
 (238, '2271,2272,2273,2274,2275,2276,2277,2278,2280,2281', 10),
 (239, '2254,2255,2256,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270', 16),
 (240, '1896,1774,2005', 3),
 (241, '2368,2289', 2),
 (242, '3033,2375,2687,61,483,2231,2263,3336,1586,1456', 10),
 (243, '510,3471,2644,2640,1449,2639,1031,54,3388,2364,3113', 11),
 (244, '2231,1026,2233,1520,2648', 5),
 (245, '1015,3082,2509', 3),
 (246, '77,58,1907,1392,2416,55,2319,2372,2559', 9),
 (247, '2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649', 11),
 (248, '2277,152,2675,1040,154,3109,833', 7),
 (249, '1470,1947', 2),
 (250, '1428,485,3336,1750,2530,1786,2547,697,435,901,3045', 11),
 (251, '3286,350,1028,524,30,2560,57', 7),
 (252, '413,2305,2599,1457,2013,2178,2734,1', 8),
 (253, '1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132', 12),
 (254, '1445,2206,2228,183,2594,1472,2232,2266,342,1557', 10),
 (255, '529,2350,2414,3307', 4),
 (256, '2563,1491,3469,3439,1570', 5),
 (257, '2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295', 11),
 (258, '1990', 1),
 (259, '44,2296,3457,2690,29,1175,3084', 7),
 (260, '1175,3357,77,2564,1998,2110,2655,2653', 8),
 (261, '58,2272,1122,2746,1951,481,2402,2402,1122', 9),
 (262, '77,78,79,80,81,82,83,84', 8),
 (263, '151,62,3288,3379,2385', 5),
 (264, '1187', 1),
 (265, '2676,421,109,2691,3439,1889,2255', 7),
 (266, '1984,2749,1428,2436,2596,1170', 6),
 (267, '1997,3043', 2),
 (268, '2601,1442,1489,913,1453,2254,2742,13,2149,2130,749', 11),
 (269, '3144', 1),
 (270, '602,1159,212,415,928,1989,3293,1033,23,46,3478', 11),
 (271, '2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281', 11),
 (272, '3336,1471,61,485,3053,1473,2007,3070,2601', 9),
 (273, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (274, '1763,832,2556,402,2693', 5),
 (275, '3336,3459,3478,268,1156,1475,611,3398', 8),
 (276, '3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318', 19),
 (277, '2653,153,1579,128,2421', 5),
 (278, '2608,1487,1468', 3),
 (279, '1759,3052,3459,1184,2647', 5),
 (280, '3081,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091', 11),
 (281, '1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915', 14),
 (282, '891,892,893,894,895,896,898,899,900,901,902,903,904,905,906,907,908', 17),
 (283, '1481,2741,2543,916,95,2359,2602,1378,1160', 9),
 (284, '194,195,196,197,198,199,200,201,202,203,204', 11),
 (285, '134,1138,3424,1914,2931,2671,1430,2288,1005,2231', 10),
 (286, '1748,2958', 2),
 (287, '2004,2183', 2),
 (288, '1849,53,2,2515,2332,1467,2232,2002,2694,2691,3459', 11),
 (289, '2231,2383,2331,3401,16,422,1129', 7),
 (290, '1046,840,992,2551,438', 5),
 (291, '3111,165,2547', 3),
 (292, '3470,1405,1466,1855,3292,1456,162,2234,610,2564', 10),
 (293, '3368,2446,1475,802,1783', 5),
 (294, '1853,1997,2593,2149,931,1550,937,110,18,1757,150', 11),
 (295, '1491', 1),
 (296, '1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478', 13),
 (297, '2647,3270,2207', 3),
 (298, '692,3474,1474,3289,2965,3285,1810,161,34', 9),
 (299, '2106,2236,2668,1733,1042,1361', 6),
 (300, '51,52,53,54,55,56,57,58,59,60,61,62', 12),
 (301, '5,1173,1005,1928,1414,1951,3029,2237', 8),
 (302, '229,77,147,2592', 4),
 (303, '2648,896,529,52,1776,2008,1003,2604,548,43', 10),
 (304, '1386,839,1466,11,1988,1117,1495', 7),
 (305, '2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192', 15),
 (306, '49,60,2654,1007,3500,1166,132,2380,2377,2558,989', 11),
 (307, '3469,1547,1058,1122,3279,2973,3456,3102,3378,38', 10),
 (308, '2964,2965,2966,2967,2968,2969,2970,2971,2972,2973,2974', 11),
 (309, '1782,2553,2418,2983,2628,1094,3296,1163,1165', 9),
 (310, '2735,1489,29,2303,1458,773,1549,829,2521', 9),
 (311, '1170,3353,81,32,2303,3356', 6),
 (312, '1937,79,341,2657,85,795,58,158,1944,2404', 10),
 (313, '1776,3336,1660,1454,2548', 5),
 (314, '580,472,2575,1266,38,2639,2232,2009,921,31', 10),
 (315, '1696,3265,1445,1807,1462', 5),
 (316, '1050,3495', 2),
 (317, '3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299', 12),
 (318, '26,1670,2295,201,3041,481,227,2678', 8),
 (319, '2640,3314,1828,712,1562,1475,1041,1053,2192,62', 10),
 (320, '3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335', 17),
 (321, '2607', 1),
 (322, '33,1184,2320,2642,3294,3289,2232,13,40,1074', 10),
 (323, '3031,3298,3385,2107,1125,2307,3394,1476', 8),
 (324, '31,1160,3359,1721,158', 5),
 (325, '2600,3495,2202,2132,3390,2234,2662,1943,2669,2656', 10),
 (326, '135,163,3382,1026,1259,1729,3006,2161,529', 9),
 (327, '496,2458,459,6,2747,1518,2549,54,803', 9),
 (328, '2555,1023,481,1502', 4),
 (329, '3299', 1),
 (330, '1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145', 13),
 (331, '2292,3350,1942,2401,137,36', 6),
 (332, '1422,476,1987,1641,1650,2201,1888,1008,1418,2322', 10),
 (333, '1988,2436,1292,3069,1006,2151', 6),
 (334, '1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956', 15),
 (335, '2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405', 15),
 (336, '2358,2359,2360,2361,2362,2363,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374', 16),
 (337, '2682,2555,1471,1479,2669,804,1994,1487,2604,1496', 10),
 (338, '1523,3295,2414,3100,3336', 5),
 (339, '696,2558,1004,2600,2736,1037,995,1387', 8),
 (340, '1051,1457,1891', 3),
 (341, '1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531', 12),
 (342, '2507,1679,2208', 3),
 (343, '2647,161,2237,2677,437,1979', 6),
 (344, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (345, '1010,3094,1110,2106,35,1145,1292,1876,3478,3150', 10),
 (346, '2599,1787,2563,3051,2746,151', 6),
 (347, '16,62,2944,1554', 4),
 (348, '2563,995,9,1798,944,2235,1483,2377,593', 9),
 (349, '1712', 1),
 (350, '1017,3042,2641', 3),
 (351, '83,998,1149,1787,1143,26,1148,2208,2640,2757', 10),
 (352, '2433', 1),
 (353, '687,2258,2297,1470,162,2330,605,482,2270,1470', 10),
 (354, '2641,1387,1462,1470,1437', 5),
 (355, '2645,492,13,51,156,1942,2560', 7),
 (356, '51,2641,3401,699,1050,1132,486', 7),
 (357, '2936,469,1012', 3),
 (358, '2663,93,2012,1121,1995,2661,1501', 7),
 (359, '2663,999,1038,689,35,39,997,426,1547', 9),
 (360, '3359,2549,2514,2367', 4),
 (361, '2308,1991', 2),
 (362, '695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714', 20),
 (363, '857,3466,433', 3),
 (364, '3268,2368,2322,1981,10,222', 6),
 (365, '3437,2323,172,157', 4),
 (366, '479,2109,1176,1425,195,2406,1445,1585,818', 9),
 (367, '1797,2288,1656,1162,2740,2747,1782,154', 8),
 (368, '952,3409', 2),
 (369, '3409,1046,1122,1425,2098,1569,2651,755,1199,514', 10),
 (370, '3266,3104,2223,1554,3076,1947,3466,1144,922', 9),
 (371, '2410', 1),
 (372, '529,530,531,532,533,534,535,536,537,538,539,540,541,542', 14),
 (373, '3365,2988,1491,139', 4),
 (374, '1837,2206,1845,2323,2300,469', 6),
 (375, '1268,1269,1270,1271,1272,1273,1274,1275,1276', 9),
 (376, '3106,615,1177,706', 4),
 (377, '49,1463,2594', 3),
 (378, '1056,2332,3004,2509', 4),
 (379, '2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553', 12),
 (380, '1425,2330,1250,475,1448,2607,2382,2646,1553,1999', 10),
 (381, '1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145', 13),
 (382, '1008,1483,43,2307', 4),
 (383, '2647,2921,1121,1030,1416,486,830,3358,2663,1140', 10),
 (384, '2652,1143,3424,989,1131,152,2548,1559,940,2658,2236', 11),
 (385, '908,1,1101,2192,902,66,155', 7),
 (386, '45,430,2636,3298,1435', 5),
 (387, '3376,337,622,1764,2562,2621', 6),
 (388, '999,1000,1001,1002,1003,1004,1005,1006,1007,1008', 10),
 (389, '3064,3065,3066,3067,3068,3069,3070,3071,3072,3073,3074,3075,3076,3077,3078,3079,3080', 17),
 (390, '1988,2697,2371', 3),
 (391, '80,82,1791,1372', 4),
 (392, '1853,1854,1855,1856,1857,1858,1859,1860', 8),
 (393, '1703,3006,914,2377,3465,2508,80,1136,2650,1827,3463', 11),
 (394, '2736,1648,2564,2563,1035,15,1992,2683', 8),
 (395, '3336,3393,1570,2659,2516,1231,757,2558,906,3257', 10),

By using Group_Concat, we can see all the songs purchased in each invoice.

In [25]:
%%sql
CREATE VIEW album_tracks AS
SELECT album_id, GROUP_CONCAT(track_id) tracks_featured, COUNT(track_id) track_count
FROM track
GROUP BY 1;

 * sqlite:///chinook.db
(sqlite3.OperationalError) table album_tracks already exists
[SQL: CREATE VIEW album_tracks AS
SELECT album_id, GROUP_CONCAT(track_id) tracks_featured, COUNT(track_id) track_count
FROM track
GROUP BY 1;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [26]:
%%sql
SELECT * FROM album_tracks;

 * sqlite:///chinook.db
Done.

[(1, '1,6,7,8,9,10,11,12,13,14', 10),
 (2, '2', 1),
 (3, '3,4,5', 3),
 (4, '15,16,17,18,19,20,21,22', 8),
 (5, '23,24,25,26,27,28,29,30,31,32,33,34,35,36,37', 15),
 (6, '38,39,40,41,42,43,44,45,46,47,48,49,50', 13),
 (7, '51,52,53,54,55,56,57,58,59,60,61,62', 12),
 (8, '63,64,65,66,67,68,69,70,71,72,73,74,75,76', 14),
 (9, '77,78,79,80,81,82,83,84', 8),
 (10, '85,86,87,88,89,90,91,92,93,94,95,96,97,98', 14),
 (11, '99,100,101,102,103,104,105,106,107,108,109,110', 12),
 (12, '111,112,113,114,115,116,117,118,119,120,121,122', 12),
 (13, '123,124,125,126,127,128,129,130', 8),
 (14, '131,132,133,134,135,136,137,138,139,140,141,142,143', 13),
 (15, '144,145,146,147,148', 5),
 (16, '149,150,151,152,153,154,155', 7),
 (17, '156,157,158,159,160,161,162,163,164,165', 10),
 (18, '166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182', 17),
 (19, '183,184,185,186,187,188,189,190,191,192,193', 11),
 (20, '194,195,196,197,198,199,200,201,202,203,204', 11),
 (21, '205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222', 18),
 (22, '223,224,225', 3),
 (23, '226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,515,516,517,518,519,520,521,522,523,524,525,526,527,528', 34),
 (24, '246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268', 23),
 (25, '269,270,271,272,273,274,275,276,277,278,279,280,281', 13),
 (26, '282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298', 17),
 (27, '299,300,301,302,303,304,305,306,307,308,309,310,311,312', 14),
 (28, '313,314,315,316,317,318,319,320,321,322', 10),
 (29, '323,324,325,326,327,328,329,330,331,332,333,334,335,336', 14),
 (30, '337,338,339,340,341,342,343,344,345,346,347,348,349,350', 14),
 (31, '351,352,353,354,355,356,357,358,359', 9),
 (32, '360,361,362,363,364,365,366,367,368,369,370,371,372,373', 14),
 (33, '374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390', 17),
 (34, '391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407', 17),
 (35, '408,409,410,411,412,413,414,415,416,417,418', 11),
 (36, '419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435', 17),
 (37, '436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455', 20),
 (38, '456,457,458,459,460,461,462,463,464,465,466,467', 12),
 (39, '468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488', 21),
 (40, '489,490,491,492,493,494,495,496,497,498,499,500', 12),
 (41, '501,502,503,504,505,506,507,508,509,510,511,512,513,514', 14),
 (42, '529,530,531,532,533,534,535,536,537,538,539,540,541,542', 14),
 (43, '543,544,545,546,547,548,549', 7),
 (44, '550,551,552,553,554,555', 6),
 (45, '556,557,558,559,560,561,562,563,564,565,566,567,568,569', 14),
 (46, '570,571,572,573,574,575,576,577,578,579,580,581,582', 13),
 (47, '583,584,585,586,587,588,589,590,591,592,593,594,595,596', 14),
 (48, '597,598,599,600,601,602,603,604,605,606,607,608,609', 13),
 (49, '610,611,612,613,614,615,616,617,618,619', 10),
 (50, '620,621,622,623', 4),
 (51, '624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645', 22),
 (52, '646,647,648,649,650,651,652,653,654,655,656,657,658,659,660', 15),
 (53, '661,662,663,664,665,666,667,668,669,670,671,672,673,674', 14),
 (54, '675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694', 20),
 (55, '695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714', 20),
 (56, '715,716,717,718,719,720,721,722,723,724,725,726,727,728,729', 15),
 (57, '730,731,732,733,734,735,736,737,738,739,740,741,742,743,744', 15),
 (58, '745,746,747,748,749,750,751,752,753', 9),
 (59, '754,755,756,757,758,759,760', 7),
 (60, '761,762,763,764,765,766,767', 7),
 (61, '768,769,770,771,772,773,774,775,776,777,778', 11),
 (62, '779,780,781,782,783,784,785', 7),
 (63, '786,787,788,789,790,791,792,793,794,795,796,797', 12),
 (64, '798,799,800,801,802,803,804,805,806', 9),
 (65, '807,808,809,810,811,812,813,814,815', 9),
 (66, '816,817,818,819,820,821,822,823,824,825', 10),
 (67, '826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841', 16),
 (68, '842,843,844,845,846,847,848,849,850', 9),
 (69, '851,852,853,854,855,856,857,858,859,860,861,862,863', 13),
 (70, '864,865,866,867,868,869,870,871,872,873,874,875,876', 13),
 (71, '877,878,879,880,881,882,883,884,885,886,887,888,889,890', 14),
 (72, '891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908', 18),
 (73, '909,910,911,912,913,914,915,916,917,918,919,920,921,922,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120', 30),
 (74, '923,924,925,926,927,928,929,930,931,932,933,934', 12),
 (75, '935,936,937,938,939,940,941,942,943,944,945,946,947,948', 14),
 (76, '949,950,951,952,953,954,955,956,957,958,959,960,961,962,963', 15),
 (77, '964,965,966,967,968,969,970,971,972,973,974', 11),
 (78, '975,976,977,978,979,980,981,982,983,984,985,986,987,988', 14),
 (79, '989,990,991,992,993,994,995,996,997,998', 10),
 (80, '999,1000,1001,1002,1003,1004,1005,1006,1007,1008', 10),
 (81, '1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019', 11),
 (82, '1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032', 13),
 (83, '1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056', 24),
 (84, '1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072', 16),
 (85, '1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086', 14),
 (86, '1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101', 15),
 (87, '1102,1103,1104', 3),
 (88, '1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132', 12),
 (89, '1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145', 13),
 (90, '1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157', 12),
 (91, '1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173', 16),
 (92, '1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187', 14),
 (93, '1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200', 13),
 (94, '1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211', 11),
 (95, '1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223', 12),
 (96, '1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234', 11),
 (97, '1235,1236,1237,1238,1239,1240,1241,1242,1243,1244', 10),
 (98, '1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255', 11),
 (99, '1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267', 12),
 (100, '1268,1269,1270,1271,1272,1273,1274,1275,1276', 9),
 (101, '1277,1278,1279,1280,1281,1282,1283,1284,1285,1286', 10),
 (102, '1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304', 18),
 (103, '1305,1306,1307,1308,1309,1310,1311,1312,1313,1314', 10),
 (104, '1315,1316,1317,1318,1319,1320,1321,1322,1323,1324', 10),
 (105, '1325,1326,1327,1328,1329,1330,1331,1332,1333,1334', 10),
 (106, '1335,1336,1337,1338,1339,1340,1341,1342,1343', 9),
 (107, '1344,1345,1346,1347,1348,1349,1350,1351', 8),
 (108, '1352,1353,1354,1355,1356,1357,1358,1359,1360,1361', 10),
 (109, '1362,1363,1364,1365,1366,1367,1368,1369,1370', 9),
 (110, '1371,1372,1373,1374,1375,1376,1377,1378', 8),
 (111, '1379,1380,1381,1382,1383,1384,1385,1386', 8),
 (112, '1387,1388,1389,1390,1391,1392,1393,1394', 8),
 (113, '1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405', 11),
 (114, '1406,1407,1408,1409,1410,1411,1412,1413', 8),
 (115, '1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433', 20),
 (116, '1434,1435,1436,1437,1438,1439,1440,1441,1442,1443', 10),
 (117, '1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454', 11),
 (118, '1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465', 11),
 (119, '1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478', 13),
 (120, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (121, '1496,1497,1498,1499,1500,1501,1502,1503,1504,1505', 10),
 (122, '1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519', 14),
 (123, '1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531', 12),
 (124, '1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545', 14),
 (125, '1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561', 16),
 (126, '1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576', 15),
 (127, '1577,1578,1579,1580,1581,1582,1583,1584,1585,1586', 10),
 (128, '1587,1588,1589,1590,1591,1592,1593,1594', 8),
 (129, '1595,1596,1597,1598,1599,1600,1601,1602', 8),
 (130, '1603,1604,1605,1606,1607,1608,1609', 7),
 (131, '1610,1611,1612,1613,1614,1615,1616,1617', 8),
 (132, '1618,1619,1620,1621,1622,1623,1624,1625,1626', 9),
 (133, '1627,1628,1629,1630,1631,1632,1633,1634,1635', 9),
 (134, '1636,1637,1638,1639,1640,1641,1642,1643,1644,1645', 10),
 (135, '1646,1647,1648,1649,1650,1651,1652,1653,1654', 9),
 (136, '1655,1656,1657,1658,1659,1660,1661', 7),
 (137, '1662,1663,1664,1665,1666', 5),
 (138, '1667,1668,1669,1670', 4),
 (139, '1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685', 15),
 (140, '1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701', 16),
 (141, '1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,3132,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142,3143,3144,3145', 57),
 (142, '1717,1720,1722,1723,1726,1727,1730,1731,1733,1736,1737,1740,1742,1743', 14),
 (143, '1718,1719,1721,1724,1725,1728,1729,1732,1734,1735,1738,1739,1741,1744', 14),
 (144, '1745,1746,1747,1748,1749,1750,1751,1752,1753,1754', 10),
 (145, '1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772', 18),
 (146, '1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790', 18),
 (147, '1791,1792,1793,1794,1795,1796,1797,1798,1799,1800', 10),
 (148, '1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812', 12),
 (149, '1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828', 16),
 (150, '1829,1830,1831,1832,1833,1834,1835,1836,1837,1838', 10),
 (151, '1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852', 14),
 (152, '1853,1854,1855,1856,1857,1858,1859,1860', 8),
 (153, '1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873', 13),
 (154, '1874,1875,1876,1877,1878,1879,1880,1881', 8),
 (155, '1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892', 11),
 (156, '1893,1894,1895,1896,1897,1898,1899,1900,1901', 9),
 (157, '1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915', 14),
 (158, '1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928', 13),
 (159, '1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941', 13),
 (160, '1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956', 15),
 (161, '1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968', 12),
 (162, '1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985', 17),
 (163, '1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002', 17),
 (164, '2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014', 12),
 (165, '2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029', 15),
 (166, '2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043', 14),
 (167, '2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064', 21),
 (168, '2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076', 12),
 (169, '2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092', 16),
 (170, '2093', 1),
 (171, '2094,2095', 2),
 (172, '2096', 1),
 (173, '2097,2098', 2),
 (174, '2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112', 14),
 (175, '2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124', 12),
 (176, '2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138', 14),
 (177, '2139,2140,2141,2142,2143,2144,2145,2146,2147,2148', 10),
 (178, '2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164', 16),
 (179, '2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177', 13),
 (180, '2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192', 15),
 (181, '2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203', 11),
 (182, '2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215', 12),
 (183, '2229,2230,2231,2232,2233,2234,2235,2236,2237', 9),
 (184, '2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253', 16),
 (185, '2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270', 17),
 (186, '2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281', 11),
 (187, '2282,2283,2284,2310,2311,2312,2313,2314,2315,2316,2317', 11),
 (188, '2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295', 11),
 (189, '2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309', 14),
 (190, '2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333', 16),
 (191, '2334,2335,2336,2337,2338,2339,2340,2341,2342,2343', 10),
 (192, '2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357', 14),
 (193, '2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374', 17),
 (194, '2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390', 16),
 (195, '2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405', 15),
 (196, '2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419', 14),
 (197, '2420,2421,2422,2423,2424,2425,2426,2427', 8),
 (198, '2428,2429,2430,2431,2432,2433', 6),
 (199, '2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460', 12),
 (200, '2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471', 11),
 (201, '2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487', 16),
 (202, '2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505', 18),
 (203, '2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522', 17),
 (204, '2523,2524,2525,2526,2527,2528,2529,2530,2531', 9),
 (205, '2532,2533,2534,2535,2536,2537,2538,2539,2540,2541', 10),
 (206, '2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553', 12),
 (207, '2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564', 11),
 (208, '2565,2566,2567,2568,2569,2570,2571', 7),
 (209, '2572,2573,2574,2575,2576,2577,2578,2579,2580,2581', 10),
 (210, '2582,2583,2584,2585,2586,2587,2588,2589,2590', 9),
 (211, '2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608', 18),
 (212, '2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620', 12),
 (213, '2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638', 18),
 (214, '2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649', 11),
 (215, '2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663', 14),
 (216, '2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675', 12),
 (217, '2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689', 14),
 (218, '2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704', 15),
 (219, '2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719', 15),
 (220, '2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730', 11),
 (221, '2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750', 20),
 (222, '2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765', 15),
 (223, '2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780', 15),
 (224, '2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802', 22),
 (225, '2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818', 16),
 (226, '2819', 1),
 (227, '2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838', 19),
 (228, '2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,3166,3167,3168,3171,3223', 23),
 (229, '2857,2862,2863,2866,2870,2874,2875,2876,2881,2882,2886,2890,2891,2895,2899,2900,2903,2908,2909,2912,3165,3169,3170,3224,3251,3252', 26),
 (230, '2858,2861,2865,2868,2871,2873,2877,2880,2883,2885,2888,2893,2894,2898,2901,2904,2906,2911,2913,2915,2917,2919,2921,2923,2925', 25),
 (231, '2859,2860,2864,2867,2869,2872,2878,2879,2884,2887,2889,2892,2896,2897,2902,2905,2907,2910,2914,2916,2918,2920,2922,2924', 24),
 (232, '2926,2927,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937', 12),
 (233, '2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948', 11),
 (234, '2949,2950,2951,2952,2953,2954,2955,2956,2957,2958,2959,2960,2961,2962,2963', 15),
 (235, '2964,2965,2966,2967,2968,2969,2970,2971,2972,2973,2974', 11),
 (236, '2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,2985,2986', 12),
 (237, '2987,2988,2989,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000,3001,3002,3003', 17),
 (238, '3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017', 14),
 (239, '3018,3019,3020,3021,3022,3023,3024,3025,3026,3027', 10),
 (240, '3028,3029,3030,3031,3032,3033,3034,3035,3036,3037', 10),
 (241, '3038,3039,3040,3041,3042,3043,3044,3045,3046,3047,3048,3049,3050,3051', 14),
 (242, '3052,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062,3063', 12),
 (243, '3064,3065,3066,3067,3068,3069,3070,3071,3072,3073,3074,3075,3076,3077,3078,3079,3080', 17),
 (244, '3081,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091', 11),
 (245, '3092,3093,3094,3095,3096,3097,3098,3099,3100,3101,3102,3103', 12),
 (246, '3104,3105,3106,3107,3108,3109,3110,3111,3112,3113,3114,3115,3116', 13),
 (247, '3117,3118,3119,3120,3121,3122,3123,3124,3125,3126,3127,3128,3129,3130,3131', 15),
 (248, '3146,3147,3148,3149,3150,3151,3152,3153,3154,3155,3156,3157,3158,3159,3160,3161,3162,3163,3164', 19),
 (249, '3172,3173,3174,3175,3176,3177', 6),
 (250, '3178,3179,3180,3181,3182,3183,3184,3185,3186,3187,3188,3189,3190,3191,3192,3193,3194,3195,3196,3197,3198,3199', 22),
 (251, '3200,3201,3202,3203,3204,3205,3206,3207,3208,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3221,3222,3428,3429', 25),
 (252, '3225', 1),
 (253, '3226,3227,3228,3229,3230,3231,3232,3233,3234,3235,3236,3237,3238,3239,3240,3241,3242,3243,3244,3245,3246,3247,3248,3249', 24),
 (254, '3250', 1),
 (255, '3253,3254,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267,3268,3269,3270,3271,3272,3273,3274,3275', 23),
 (256, '3276,3277,3278,3279,3280,3281,3282,3283,3284,3285,3286,3287', 12),
 (257, '3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299', 12),
 (258, '3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318', 19),
 (259, '3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335', 17),
 (260, '3336', 1),
 (261, '3337,3338,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348,3360,3361,3362,3363,3364', 17),
 (262, '3349,3350', 2),
 (263, '3351,3354', 2),
 (264, '3352,3358', 2),
 (265, '3353,3355', 2),
 (266, '3356', 1),
 (267, '3357', 1),
 (268, '3359', 1),
 (269, '3365,3366,3367,3368,3369,3370,3371,3372,3373,3374', 10),
 (270, '3375,3376,3377,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387,3388', 14),
 (271, '3389,3390,3391,3392,3393,3394,3395,3396,3397,3398,3399,3400,3401,3402', 14),
 (272, '3403', 1),
 (273, '3404', 1),
 (274, '3405', 1),
 (275, '3406', 1),
 (276, '3407', 1),
 (277, '3408', 1),
 (278, '3409', 1),
 (279, '3410', 1),
 (280, '3411,3438', 2),

This shows all tracks featured on an album. Now I need to check each album to see if it shows up in an invoice in its entirety. I am also going to eliminate any albums that have 3 or less songs.

In [29]:
%%sql
WITH
large_album_tracks AS
    (
    SELECT *
    FROM album_tracks
    WHERE track_count > 3
    )
SELECT lat.album_id, it.*
FROM invoice_tracks it
INNER JOIN large_album_tracks lat ON lat.tracks_featured = it.tracks_purchased;

 * sqlite:///chinook.db
Done.

[(1, 23, '1,6,7,8,9,10,11,12,13,14', 10),
 (1, 414, '1,6,7,8,9,10,11,12,13,14', 10),
 (4, 200, '15,16,17,18,19,20,21,22', 8),
 (4, 230, '15,16,17,18,19,20,21,22', 8),
 (5, 142, '23,24,25,26,27,28,29,30,31,32,33,34,35,36,37', 15),
 (5, 427, '23,24,25,26,27,28,29,30,31,32,33,34,35,36,37', 15),
 (6, 32, '38,39,40,41,42,43,44,45,46,47,48,49,50', 13),
 (6, 64, '38,39,40,41,42,43,44,45,46,47,48,49,50', 13),
 (7, 300, '51,52,53,54,55,56,57,58,59,60,61,62', 12),
 (8, 532, '63,64,65,66,67,68,69,70,71,72,73,74,75,76', 14),
 (9, 262, '77,78,79,80,81,82,83,84', 8),
 (10, 69, '85,86,87,88,89,90,91,92,93,94,95,96,97,98', 14),
 (16, 465, '149,150,151,152,153,154,155', 7),
 (16, 511, '149,150,151,152,153,154,155', 7),
 (20, 284, '194,195,196,197,198,199,200,201,202,203,204', 11),
 (36, 479, '419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435', 17),
 (37, 526, '436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455', 20),
 (42, 372, '529,530,531,532,533,534,535,536,537,538,539,540,541,542', 14),
 (55, 362, '695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714', 20),
 (65, 512, '807,808,809,810,811,812,813,814,815', 9),
 (72, 582, '891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908', 18),
 (80, 388, '999,1000,1001,1002,1003,1004,1005,1006,1007,1008', 10),
 (80, 420, '999,1000,1001,1002,1003,1004,1005,1006,1007,1008', 10),
 (82, 76, '1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032', 13),
 (83, 183, '1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056', 24),
 (88, 212, '1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132', 12),
 (88, 253, '1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132', 12),
 (89, 330, '1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145', 13),
 (89, 381, '1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145', 13),
 (90, 24, '1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157', 12),
 (90, 399, '1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157', 12),
 (91, 1, '1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173', 16),
 (92, 404, '1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187', 14),
 (100, 375, '1268,1269,1270,1271,1272,1273,1274,1275,1276', 9),
 (105, 196, '1325,1326,1327,1328,1329,1330,1331,1332,1333,1334', 10),
 (109, 590, '1362,1363,1364,1365,1366,1367,1368,1369,1370', 9),
 (115, 92, '1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433', 20),
 (116, 485, '1434,1435,1436,1437,1438,1439,1440,1441,1442,1443', 10),
 (118, 188, '1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465', 11),
 (119, 146, '1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478', 13),
 (119, 171, '1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478', 13),
 (119, 296, '1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478', 13),
 (119, 501, '1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478', 13),
 (120, 112, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (120, 114, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (120, 273, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (120, 344, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (120, 449, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (120, 478, '1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495', 17),
 (123, 341, '1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531', 12),
 (126, 457, '1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576', 15),
 (145, 175, '1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772', 18),
 (145, 604, '1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772', 18),
 (146, 54, '1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790', 18),
 (150, 205, '1829,1830,1831,1832,1833,1834,1835,1836,1837,1838', 10),
 (152, 392, '1853,1854,1855,1856,1857,1858,1859,1860', 8),
 (152, 537, '1853,1854,1855,1856,1857,1858,1859,1860', 8),
 (155, 156, '1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892', 11),
 (157, 79, '1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915', 14),
 (157, 281, '1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915', 14),
 (157, 488, '1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915', 14),
 (160, 334, '1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956', 15),
 (163, 5, '1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002', 17),
 (164, 123, '2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014', 12),
 (164, 606, '2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014', 12),
 (178, 468, '2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164', 16),
 (179, 533, '2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177', 13),
 (180, 305, '2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192', 15),
 (182, 612, '2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215', 12),
 (183, 444, '2229,2230,2231,2232,2233,2234,2235,2236,2237', 9),
 (185, 56, '2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270', 17),
 (185, 71, '2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270', 17),
 (186, 138, '2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281', 11),
 (186, 213, '2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281', 11),
 (186, 271, '2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281', 11),
 (186, 589, '2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281', 11),
 (188, 173, '2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295', 11),
 (188, 257, '2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295', 11),
 (188, 447, '2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295', 11),
 (194, 237, '2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390', 16),
 (195, 73, '2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405', 15),
 (195, 335, '2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405', 15),
 (196, 153, '2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419', 14),
 (200, 556, '2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471', 11),
 (203, 398, '2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522', 17),
 (206, 379, '2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553', 12),
 (207, 90, '2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564', 11),
 (211, 99, '2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608', 18),
 (212, 61, '2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620', 12),
 (213, 141, '2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638', 18),
 (213, 223, '2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638', 18),
 (214, 46, '2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649', 11),
 (214, 247, '2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649', 11),
 (216, 52, '2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675', 12),
 (216, 578, '2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675', 12),
 (218, 413, '2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704', 15),
 (221, 31, '2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750', 20),
 (235, 308, '2964,2965,2966,2967,2968,2969,2970,2971,2972,2973,2974', 11),
 (242, 44, '3052,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062,3063', 12),
 (243, 389, '3064,3065,3066,3067,3068,3069,3070,3071,3072,3073,3074,3075,3076,3077,3078,3079,3080', 17),
 (244, 280, '3081,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091', 11),
 (257, 201, '3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299', 12),
 (257, 317, '3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299', 12),
 (258, 276, '3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318', 19),
 (259, 320, '3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335', 17),
 (270, 529, '3375,3376,3377,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387,3388', 14),
 (270, 581, '3375,3376,3377,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387,3388', 14),
 (321, 84, '3455,3456,3457,3458,3459,3460,3461,3462,3463,3464,3465,3466', 12),
 (322, 540, '3467,3468,3469,3470,3471,3472,3473,3474,3475,3476,3477', 11),
 (322, 583, '3467,3468,3469,3470,3471,3472,3473,3474,3475,3476,3477', 11)]

Success! We have all invoices that feature solely the album at hand! Now we just need to count them, and them compare that to the total number of songs purchased.

In [33]:
%%sql
WITH
large_album_tracks AS
    (
    SELECT *
    FROM album_tracks
    WHERE track_count > 3
    ),
album_invoice AS
    (
    SELECT lat.album_id, it.*
    FROM invoice_tracks it
    INNER JOIN large_album_tracks lat ON lat.tracks_featured = it.tracks_purchased
    )
SELECT COUNT(album_id)
FROM album_invoice;

 * sqlite:///chinook.db
Done.

[(110,)]

Great! We know there are 110 invoices that are an album. Now we just need to know the total amount of invoices to find the percentage.

In [36]:
%%sql
SELECT COUNT(DISTINCT invoice_id)
FROM invoice_line;

 * sqlite:///chinook.db
Done.

[(614,)]

There are 614 total invoices. That means that if 110 were album purchases, 514 were not. Seems like albums make up a small percentage of the total purchases.